:root {
  --pailblue: #45c4b0;
  --pailgreen: #dafdba;
  --yellow: #ffc54d;
  --red: #f94c66;
  --black: #1e1e1e;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--pailgreen);
}
